<h1 class="text-center mb-4" style="font-family: Pacifico;">Пункты дневного меню</h1>
<% @dailyItems.each do |daily_item| %>
  <div class="alert alert-dark d-flex flex-wrap justify-content-between align-items-center border-bottom p-0">
    <div class="info-block col-11 d-flex flex-wrap justify-content-between align-items-center pl-1">
      <h3 class="col-5 h4 pl-10 mb-0 text-wrap" style="width: 40%;">
        <%= MenuItem.find(daily_item.menu_item_id).title %>
      </h3>
      <p class="col-4 flex-wrap mb-0 border-left border-right text-center pl-1 pr-1">
        <%= MenuItem.find(daily_item.menu_item_id).category.title %>
      </p>
      <p class="col-3 flex-wrap mb-0 border-left border-right text-center pl-1 pr-1">
        <%= daily_item.price %> грн
      </p>
    </div>
    <div class="control-block col-1 d-flex flex-nowrap justify-content-end align-items-center pr-0">
      <%= link_to content_tag('i, class="fas fa-info"'),
          daily_menu_item_path(daily_item), :class => 'btn btn-primary btn-sm m-1' %>
          <!--
      <%= link_to content_tag('i, class="fas fa-pen"'),
          edit_daily_menu_item_path(daily_item), :class => 'btn btn-warning btn-sm m-1' %>
      <%= link_to content_tag('i, class="fas fa-trash"'),
          daily_menu_item_path(daily_item), method: :delete, data:{confirm: "Вы действительно хотите удалить этот пункт из меню?"}, :class => 'btn btn-danger btn-sm m-1' %>
          -->
    </div>
  </div>
<% end %>