<div class="col-md-8 mx-auto">
  <h2>Редактировать текущее блюдо:</h2>
  <%= form_for :menu_item, url: menu_item_path(@dish), method: :patch do |form| %>
    <%= render 'errors' %>
    <div>
      Наименование:<br>
      <%= form.text_field(:title, {:class => 'form-control', :value => @dish.title}) %><br>
    </div>
    <div>
      Категория:<br>
      <%= form.select(:category_id, options_for_select(@categories),
      {:selected => @dish.category}, {:class => 'form-control'}) %><br>
    </div>
    <div>
      Тип ценообразования:<br>
      <%= form.select(:pricing_type,
      [
      'за вес/объем',
      'за порцию'
      ],
      {:selected => @dish.pricing_type},
      {:class => 'form-control'}) %><br>
    </div>
    <div>
      Вес/объем блюда:<br>
      <%= form.number_field(:volume,
      {:class => 'form-control', :value => @dish.volume}) %><br>
    </div>
    <div>
      Единицы измерения:<br>
      <%= form.select(:unit,
      [
      'мл',
      'грамм'
      ],
      {:selected => @dish.unit},
      {:class => 'form-control'}) %><br>
    </div>
    <div>
      <%= form.submit('Сохранить', {:class => 'btn btn-success'}) %><br>
    </div>
  <% end %>
</div>