<header class="d-flex flex-wrap justify-content-between py-2 mb-2 border-bottom sticky-top bg-white">
  <a href="javascript:void(0);" class="d-flex align-items-center mb-md-0 me-md-auto">
    <svg class="bi me-2 rounded" id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="75" height="75">
      <rect width="512" height="512" fill="#0d6efd"/>
      <rect x="61.41" y="349.48" width="389.18" height="37.03" rx="6.65" ry="6.65" fill="#fff"/>
      <path d="M112.29,316.94c6.57-63,63.3-127.16,121.62-132.82-50.09,12.73-97.82,73.19-103.71,129.59a128.58,128.58,0,0,0-.3,20.92H422.26A166.28,166.28,0,0,0,266.61,170a23.55,23.55,0,1,0-21.22,0A166.26,166.26,0,0,0,89.74,334.63h22.08A127.68,127.68,0,0,1,112.29,316.94Z" fill="#fff"/>
    </svg>
  </a>
  <nav class="nav d-flex flex-wrap justify-content-end align-items-center">
    <span class="nav-item">
      <%= link_to "Главная страница", home_path, :class => 'btn btn-outline-primary m-1 active' %>
    </span>
    <span class="nav-item">
      <%= link_to "Добавить блюдо", new_menu_item_path, :class => 'btn btn-outline-primary m-1' %>
    </span>
  </nav>
</header>

<h1 class="text-center text-uppercase mb-4" style="font-family: Pacifico;">- Меню -</h1>
<% @dish.each do |dish| %>
  <div class="alert alert-dark d-flex flex-wrap justify-content-between align-items-center border-bottom p-0">
    <div class="info-block col-7 d-flex flex-wrap justify-content-between align-items-center pl-0">
      <h2 class="h4 col-8 pl-10 text-wrap"><%= dish.title %></h2>
      <p class="mb-0 border-left border-right text-right pl-1 pr-1">
        <%= dish.price %> грн
      </p>
    </div>
    <div class="control-block col-5 d-flex flex-wrap justify-content-end align-items-center pr-0">
      <%= link_to "Подробнее", menu_item_path(dish), :class => 'btn btn-primary btn-sm m-1' %>
      <%= link_to "Редактировать", edit_menu_item_path(dish), :class => 'btn btn-warning btn-sm m-1' %>
      <%= link_to "Удалить", menu_item_path(dish), method: :delete, data:{confirm: "Вы действительно хотите удалить это блюдо?"}, :class => 'btn btn-danger btn-sm m-1' %>
    </div>
  </div>
<% end %>