<h1 class="text-center mb-4" style="font-family: Pacifico, Arial, sans-serif;">Блюда</h1>
<div class="col-12 p-0 text-danger text-center mb-2">
  <%= flash.notice %>
</div>
<% @dishes.each do |dish| %>
  <div class="alert alert-dark d-flex flex-nowrap justify-content-between align-items-center border-bottom p-0">
    <div class="info-block col-10 d-flex justify-content-between align-items-center pl-1">
      <h3 class="col-5 h4 pl-10 text-wrap" style="width: 40%;"><%= dish.title %></h3>
      <p class="col-3 flex-wrap mb-0 border-left border-right text-center pl-1 pr-1">
        <i>"<%= link_to dish.category.title, category_path(dish.category) %>"</i>
      </p>
      <p class="col-2 mb-0 border-left border-right text-center pl-1 pr-1 text-lowercase">
        (<%= dish.pricing.pricing_desc %>)
      </p>
      <p class="col-2 mb-0 border-left border-right text-center pl-1 pr-1">
        <%= dish.volume %> <%= dish.unit.unit_desc %>
      </p>
    </div>
    <div class="control-block col-2 d-flex flex-nowrap justify-content-end align-items-center pr-0">
      <%= link_to content_tag('i, class="fas fa-info"'),
          menu_item_path(dish), :class => 'btn btn-primary btn-sm m-1' %>
      <%= link_to content_tag('i, class="fas fa-pen"'),
          edit_menu_item_path(dish), :class => 'btn btn-warning btn-sm m-1' %>
      <%= link_to content_tag('i, class="fas fa-trash"'),
          menu_item_path(dish), method: :delete, data:{confirm: "Вы действительно хотите удалить это блюдо?"}, :class => 'btn btn-danger btn-sm m-1' %>
    </div>
  </div>
<% end %>
<div class="mx-auto text-right">
  <%= link_to "Добавить блюдо", new_menu_item_path, :class => 'btn btn-success' %>
</div>