<div class="col-md-8 mx-auto">
  <h2>Добавить новое блюдо в меню:</h2>
  <%= form_for :menu_item, url: menu_items_path do |form| %>
    <%= render 'errors' %>
    <div>
      Наименование:<br>
      <%= form.text_field(:title, {:class => 'form-control', :placeholder => 'Введите название блюда'}) %><br>
    </div>
    <div>
      Категория:<br>
      <%= form.select(:category_id, options_for_select(@categories),
      {:prompt => 'Выберите категорию'}, {:class => 'form-control'}) %><br>
    </div>
    <div>
      Тип ценообразования:<br>
      <%= form.select(:pricing_type,
      [
      'за вес/объем',
      'за порцию'
      ],
      {:prompt => 'Выберите тип ценообразования'},
      {:class => 'form-control'}) %><br>
    </div>
    <div>
      Вес/объем блюда:<br>
      <%= form.number_field(:volume, {:class => 'form-control', :placeholder => 'Задайте вес или объем блюда в порции'}) %><br>
    </div>
    <div>
      Единицы измерения:<br>
      <%= form.select(:unit,
      [
      'мл',
      'грамм'
      ],
      {:prompt => 'Выберите единицы измерения'},
      {:class => 'form-control'}) %><br>
    </div>
    <div class="text-right">
      <%= link_to "Назад", menu_items_path, :class => 'btn btn-secondary' %>
      <%= form.submit('Добавить в меню', {:class => 'btn btn-success'}) %><br>
    </div>
  <% end %>
</div>