<div class="container col-12 p-0 text-danger text-center mb-2">
  <%= flash.notice %>
</div>
<div class="col-11 col-md-12 d-flex flex-nowrap justify-content-between align-items-center border-bottom p-1 mx-auto">
  <div class="info-block col-md-10 col-sm-8 d-flex flex-md-row flex-column justify-content-between align-items-md-center align-items-start pl-1">
    <h3 class="pl-0"><%= @dish.title %></h3>
    <p class="mb-0 text-center pl-1 pr-1">
      <i>"<%= link_to @dish.category.title, category_path(@dish.category) %>"</i>
    </p>
    <p class="mb-0 text-center pl-1 pr-1 text-lowercase">
      (<%= @dish.pricing.pricing_desc %>)
    </p>
    <p class="mb-0 text-center pl-1 pr-1">
      <%= @dish.volume %> <%= @dish.unit.unit_desc %>
    </p>
  </div>
  <div class="control-block col-2 d-flex flex-nowrap justify-content-end align-items-md-center align-self-end">
    <%= link_to content_tag('i, class="fas fa-pen"'),
        edit_menu_item_path(@dish), :class => 'btn btn-warning btn m-1' %>
    <%= link_to content_tag('i, class="fas fa-trash"'),
        menu_item_path(@dish), method: :delete, data:{confirm: "Вы действительно хотите удалить это блюдо?"}, :class => 'btn btn-danger btn m-1' %>
  </div>
</div>
<div class="text-right mr-4">
  <%= link_to "К блюдам", menu_items_path, :class => 'btn btn-secondary m-2' %>
  <%= link_to "Добавить еще блюдо", new_menu_item_path, :class => 'btn btn-success' %>
</div>