<div class="container col-12 p-0 text-danger text-center mb-2">
  <%= flash.notice %>
</div>
<div class="container d-flex flex-wrap justify-content-between align-items-center">
  <div class="info-block col-8 d-flex flex-nowrap justify-content-between align-items-center pl-0">
    <h3 class="pl-0"><%= @dish.title %></h3>
    <p class="mb-0 border-left border-right text-center pl-1 pr-1">
      <i>"<%= link_to @dish.category.title, category_path(@dish.category) %>"</i>
    </p>
    <p class="mb-0 border-left border-right text-center pl-1 pr-1 text-lowercase">
      (<%= @dish.pricing.pricing_type %>)
    </p>
    <p class="mb-0 border-left border-right text-center pl-1 pr-1">
      <%= @dish.volume %> <%= @dish.unit.unit_type %>
    </p>
  </div>
  <div class="control-block col-4 d-flex flex-wrap justify-content-end align-items-center">
    <%= link_to content_tag('i, class="fas fa-pen"'),
        edit_menu_item_path(@dish), :class => 'btn btn-warning btn-sm m-1' %>
    <%= link_to content_tag('i, class="fas fa-trash"'),
        menu_item_path(@dish), method: :delete, data:{confirm: "Вы действительно хотите удалить это блюдо?"}, :class => 'btn btn-danger btn-sm m-1' %>
  </div>
</div>
<div class="text-right mr-4">
  <%= link_to "К блюдам", menu_items_path, :class => 'btn btn-secondary m-2' %>
  <%= link_to "Добавить еще блюдо", new_menu_item_path, :class => 'btn btn-success' %>
</div>