<div class="col-md-10 mx-auto">
  <%= form_for @menu do |form| %>
    <%= render 'errors' %>
    <div>
      на<br>
      <%= form.date_field :date, {:class => 'form-control'} %><br>
    </div>
    <%= form.fields_for :daily_menu_items do |item| %>
      <%= render partial: 'daily_menu_item_fields', locals: {f: item} %>
    <% end %>
    <div class="mx-auto text-right">
      <%= link_to_add_fields 'Добавить блюдо', form, :daily_menu_items,
      :class => "btn btn-sm btn-warning mb-4 col-12" %><br>
      <%= form.submit(current_page?(new_daily_menu_path) ? 'Создать' : 'Сохранить',
      {:class => 'btn btn-success'}) %><br>
    </div>
  <% end %>
</div>

