<h1 class="text-center mb-4" style="font-family: Pacifico, Arial, sans-serif;">- Дневное меню -</h1>
<p class="sortable-block"><%= sortable "date", "Сортировать по: " %></p>
<% @menus.each do |menu| %>
  <%= link_to daily_menu_path(menu), :class => 'daily-menu-item container col-6 mx-auto p-0 d-block h3' do %>
    <div class="wrapper alert alert-dark d-flex pl-2 flex-wrap justify-content-between align-items-center border p-0">
      <span><%= l menu.date %></span>
      <%= content_tag(:div, content_tag(:i, nil,:class => 'fas fa-info'),
      :class => 'btn-inform btn btn-primary m-1 d-block') %>
    </div>
  <% end %>
<% end %>
<div class="mx-auto text-right col-6 p-0 mt-4">
  <%= link_to "Создать дневное меню", new_daily_menu_path, :class => 'btn btn-success col-12' %>
</div>