<div class="col-md-12 mx-auto">
  <%= form_for @order do |form| %>
    <%= render 'errors' %>
    <div class="order-block col-12 rounded p-0">
      <div class="date-list-menu d-flex justify-content-center align-items-end col-12 p-0">
        <%= form.label :daily_menu_id, 'для', { :class => 'col-1 pl-0' } %>
        <%= form.select(:daily_menu_id, DailyMenu.all.collect { |dm| [dm.date, dm.id] },
                        { :prompt => 'Выберите дату', :selected => @daily_menu&.id },
                        { :class => 'form-control date-list col-4' }) %><br>
      </div>
      <div class="order col-12 mx-auto p-0" id="order">
        <% if @daily_menu.present? %>
          <h3 class="order__title p-3 text-center h4">Выберите блюда для заказа</h3>
          <ul class="order__list">
            <%= form.fields_for :order_items do |item| %>
              <%= render partial: 'order_item_fields', locals: {form: item} %>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between align-items-center mb-4">
      <p class="order__total-cost-desc m-0">Общая стоимость заказа:</p>
      <div class="order__total-cost-value d-flex justify-content-end align-items-center">
        <%= form.number_field(:total_cost, { :class => 'form-control order__total-cost', :disabled => 'disabled' }) %>
        <%= form.label :total_cost, 'грн.', { :class => 'mb-0 ml-2' } %>
      </div>
    </div>
    <div class="mx-auto text-right">
      <%= link_to "Назад", orders_path, :class => 'btn btn-secondary' %>
      <%= form.submit(current_page?(new_order_path) ? 'Создать' : 'Сохранить',
                      { :class => 'btn btn-success' }) %>
    </div>
  <% end %>
</div>

