<div class="order_message container col-12 p-0 text-black text-center mb-2 bg-warning rounded" style="display: none;">
  <p>Должно быть выбрано хотя бы одно блюдо!</p>
</div>
<div class="col-md-12 mx-auto">
  <%= form_for @order do |form| %>
    <%= render 'errors' %>
    <div class="order-block col-12 rounded p-0">
      <div class="date-list-menu d-flex justify-content-center align-items-end col-11 p-0 mx-auto">
        <%= form.label :daily_menu_id, 'для', { :class => 'col-lg-1 col-2 pl-0' } %>
        <%= form.select(:daily_menu_id, DailyMenu.all.map { |dm| [dm.date, dm.id] },
                        { :prompt => 'Выберите дату' },
                        { :class => 'form-control date-list col-lg-4 col-10',
                          :disabled => controller?('orders') && action?('edit') ? true : false
                        }) %><br>
      </div>
      <div class="order col-12 mx-auto p-0" id="order">
        <% if @order.daily_menu.present? %>
          <h3 class="order__title p-3 text-center h4">Выберите блюда для заказа</h3>
          <ul class="order__list mx-auto">
            <% @daily_menu_items.each do |category, daily_menu_items| %>
              <li class="order__p">
                <hr>
                <h4 class="text-secondary text-center h5"><u><%= category.title %></u></h4>
                <ul class="order__sublist">
                  <%= form.fields_for :daily_menu_items do |item| %>
                    <%= render partial: 'order_item_fields', locals: { form: item, daily_menu_items: daily_menu_items } %>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between align-items-center mb-4">
      <p class="order__total-cost-title m-0">Общая стоимость заказа:</p>
      <div class="order__total-cost-value d-flex justify-content-end align-items-center">
        <%= content_tag(:span, '0.00 грн.', :class => 'order__form-input order__total-cost-desc flex-grow-1') %>
        <%= form.hidden_field(:total_cost, { :class => 'order__form-input order__total-cost form-control m-2' }) %>
      </div>
    </div>
    <div class="mx-auto text-right">
      <%= link_to 'Назад', orders_path, :class => 'btn btn-secondary' %>
      <%= form.submit(current_page?(new_order_path) ? 'Создать' : 'Сохранить', { :class => 'btn btn-success' }) %>
    </div>
  <% end %>
</div>

