<% daily_menu_items.each do |daily_menu_item| %>
  <li class="order__item form-group d-flex flex-column flex-md-row justify-content-between align-items-start align-items-md-center mx-auto flex-nowrap">
    <div class="order__check-block d-flex justify-content-start align-items-center flex-nowrap p-0 col-11 col-md-7 mx-auto">
      <%= form.check_box :_destroy, {
        :class => 'checkbox-hidden',
        :id => "order_order_items_attributes_#{ daily_menu_item.id }__destroy",
        :name => "order[order_items_attributes][#{ daily_menu_item.id }][_destroy]"
      }, '0', '1' %>
      <%= form.check_box :daily_menu_item_id, {
        :class => 'order__check',
        :id => "order_order_items_attributes_#{ daily_menu_item.id }_daily_menu_item_id",
        :name => "order[order_items_attributes][#{ daily_menu_item.id }][daily_menu_item_id]",
        'data-price' => daily_menu_item.price,
        'data-pricing' => daily_menu_item.menu_item.pricing.pricing_type,
        'data-volume' => daily_menu_item.menu_item.volume,
        'data-unit' => daily_menu_item.menu_item.unit.unit_type
      }, daily_menu_item.id, @order.daily_menu_item_ids.include?(daily_menu_item.id) %>
      <%= form.label :daily_menu_item_id, form.object&.daily_menu_item_id, {
        :for => "order_order_items_attributes_#{ daily_menu_item.id }_daily_menu_item_id",
        :class => 'order__label' } do %>
        <p class="order__desc">
          <%= daily_menu_item.menu_item.title %> -
          <%= daily_menu_item.price %> грн/
          <% if daily_menu_item.menu_item.pricing.pricing_type === 'per_qty' %>
                    <span class="text-lowercase">
                      <%= daily_menu_item.menu_item.pricing.pricing_desc %>
                      (<%= daily_menu_item.menu_item.volume %>
                      <%= daily_menu_item.menu_item.unit.unit_desc %>)
                    </span>
          <% else %>
            <%= daily_menu_item.menu_item.volume %>
            <%= daily_menu_item.menu_item.unit.unit_desc %>
            <span>пропорционально</span>
          <% end %>
        </p>
      <% end %>
    </div>
    <div class="d-flex justify-content-around align-items-center order__form-group p-0 col-12 col-md-5">
      <div class="d-flex align-items-center col-6">
        <% if daily_menu_item.menu_item.pricing.pricing_type === 'per_qty' %>
          <%= form.number_field(:quantity_por,
                                { :class => 'order__form-input order__por form-control m-2 text-center',
                                  :disabled => 'disabled',
                                  :step => 1, :min => 1,
                                  :id => "order_order_items_attributes_#{ daily_menu_item.id }_quantity_por",
                                  :name => "order[order_items_attributes][#{ daily_menu_item.id }][quantity_por]"
                                }) %>
          <%= form.label :quantity_por, 'шт.', { :class => 'mb-0 mr-4 text-secondary' } %>
        <% else %>
          <%= form.number_field(:quantity_vol,
                                { :class => 'order__form-input order__vol form-control m-2 text-center',
                                  :disabled => 'disabled',
                                  :step => 5, :min => 100,
                                  :id => "order_order_items_attributes_#{ daily_menu_item.id }_quantity_vol",
                                  :name => "order[order_items_attributes][#{ daily_menu_item.id }][quantity_vol]"
                                }) %>
          <%= form.label :quantity_vol, daily_menu_item.menu_item.unit.unit_desc, { :class => 'mb-0 mr-5 text-secondary' } %>
        <% end %>
      </div>
      <div class="d-flex align-items-center">
        <%#= content_tag(:span, '0.00 грн.', :class => "order__form-input order__cost-desc") %>
        <%= form.number_field(:cost, { :class => 'order__form-input order__cost form-control m-2',
                                       :id => "order_order_items_attributes_#{ daily_menu_item.id }_cost",
                                       :name => "order[order_items_attributes][#{ daily_menu_item.id }][cost]" }) %> грн.
      </div>
    </div>
  </li>
<% end %>