<div class="container col-12 p-0 text-danger text-center mb-2">
  <%= flash.notice %>
</div>
<div class="container col-4 d-flex flex-wrap justify-content-between align-items-center">
  <p class="p-0 m-0"><%= @pricing.pricing_type %></p>
  <div class="control-block d-flex flex-wrap justify-content-end align-items-center">
      <%= link_to content_tag('i, class="fas fa-pen"'),
          edit_pricing_path(@pricing), :class => 'btn btn-warning btn-sm m-1' %>
      <%= link_to content_tag('i, class="fas fa-trash"'),
          pricing_path(@pricing), method: :delete, data:{confirm: "Вы действительно хотите удалить данный тип ценообразования?"}, :class => 'btn btn-danger btn-sm m-1' %>
  </div>
</div>
<div class="container col-4 mx-auto text-right">
  <%= link_to "К списку ценообразований", pricings_path, :class => 'btn btn-secondary m-1' %>
</div>