<div class="col-md-8 mx-auto">
  <%= form_for @unit do |form| %>
    <%= render 'errors' %>
    <div>
      Единицы измерения:<br>
      <%= form.select(:unit_type,
      [
      ['мл', 'мл'],
      ['грамм', 'грамм']
      ],
      {:prompt => 'Выберите единицы измерения'},
      {:class => 'form-control'}) %><br>
    </div>
    <div class="text-right">
      <%= link_to "Назад", units_path, :class => 'btn btn-secondary' %>
      <%= form.submit(current_page?(new_unit_path) ? 'Создать' : 'Сохранить',
      {:class => 'btn btn-success'}) %><br>
    </div>
  <% end %>
</div>