<div class="col-10 col-md-8 mx-auto">
  <%= form_for @cat do |form| %>
    <%= render 'errors' %>
    <div>
      <%= current_page?(new_category_path) ? 'Категория:' : 'Выберите новую категорию:' %><br>
      <%= form.select(:title,
                      [
                        'Первые блюда',
                        'Горячие блюда',
                        'Гарниры',
                        'Салаты',
                        'Напитки'
                      ],
                      { :prompt => 'Выберите категорию' },
                      { :class => 'form-control mt-2' }) %><br>
    </div>
    <div class="text-right">
      <%= link_to "Назад", categories_path, :class => 'btn btn-secondary' %>
      <%= form.submit(current_page?(new_category_path) ? 'Добавить в меню' : 'Сохранить',
                      {:class => 'btn btn-success'}) %><br>
    </div>
  <% end %>
</div>