<div class="warning-message">
  <p><%= flash.notice %></p>
</div>
<h1 class="text-center mb-4" style="font-family: Pacifico, Arial, sans-serif;">Категории</h1>
<% @cats.each do |cat| %>
  <div class="container alert alert-dark col-11 col-md-8 d-flex flex-wrap justify-content-between align-items-center">
    <h2 class="h3 info-block col-6 pl-0"><%= cat.title %></h2>
    <div class="control-block col-6 d-flex flex-nowrap justify-content-end align-items-center p-0">
      <%= link_to content_tag('i, class="fas fa-info"'),
          category_path(cat), :class => 'btn btn-primary m-1' %>
      <%= link_to content_tag('i, class="fas fa-pen"'),
          edit_category_path(cat), :class => 'btn btn-warning m-1' %>
      <%= link_to content_tag('i, class="fas fa-trash"'),
          category_path(cat), method: :delete, data:{confirm: "Вы действительно хотите удалить эту категорию?"},
          :class => 'btn btn-danger m-1' %>
    </div>
  </div>
<% end %>
<div class="mx-auto text-right col-11 col-md-8 pr-0">
  <%= link_to "Создать категорию", new_category_path, :class => 'btn btn-success' %>
</div>




