<div class="col-md-8 mx-auto">
  <h2>Создать категорию меню:</h2>
  <%= form_for :category, url: categories_path do |form| %>
    <%= render 'errors' %>
    <div>
      Категория:<br>
      <%= form.select(:title,
      [
      'Первые блюда',
      'Горячие блюда',
      'Гарниры',
      'Салаты',
      'Напитки'
      ],
      {:prompt => 'Выберите категорию'},
      {:class => 'form-control'}) %><br>
    </div>
    <div class="text-right">
      <%= link_to "Назад", categories_path, :class => 'btn btn-secondary' %>
      <%= form.submit('Добавить в меню', {:class => 'btn btn-success'}) %><br>
    </div>
  <% end %>
</div>